@charset "utf-8";
/* CSS Document */

html{
background-image: url(../images/bg.jpg);
background-size:cover;
background-attachment:local;
}

#style {
width: auto;
}

#header {
width: auto;
height: 100px;
position: relative;
background-image: url(../images/green.jpg);
border-bottom: 2px solid #0000000;
}

#body {
margin: auto;
width: auto;
height: 100%;
padding: 5px 0px 0px 5px;
}

#leftrow {
float: left;
width: auto;
height: auto;
border-right: 5px solid #58ebd3;
}

#footer {
clear: both;
width: auto;
text-align: center;
color: #FFFFFF;
background-color: #004F00;
}
